@font-face {
	font-family: 'redesSociales';
	src:url('fonts/redesSociales.eot?-jgsjji');
	src:url('fonts/redesSociales.eot?#iefix-jgsjji') format('embedded-opentype'),
		url('fonts/redesSociales.woff?-jgsjji') format('woff'),
		url('fonts/redesSociales.ttf?-jgsjji') format('truetype'),
		url('fonts/redesSociales.svg?-jgsjji#redesSociales') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'redesSociales';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-youtube:before {
	content: "\e606";
}
